body {
    background:#0f172a;
    color:white;
    font-family:Arial;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container {
    background:#1e293b;
    padding:30px;
    border-radius:10px;
    width:500px;
}

input {
    width:48%;
    margin-right:2%;
    padding:10px;
    margin-top:10px;
}

button {
    margin-top:15px;
    padding:10px;
    cursor:pointer;
}

#result div {
    background:#111827;
    padding:5px;
    margin:5px 0;
}